@use "variables" as *;
@use "utils" as *;

/* 헤더 스타일 */
header {
    position: fixed;
    top: 0;
    left: $sidebar-width;
    right: 0;
    height: $header-height;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @include tc(border-bottom-color, 'border-color'); // ✅ 이거 유지
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: $text-color;
    user-select: none;
    gap: 12px;
    z-index: 2;
    @include tc(background-color, 'bg-color');
}

header .logo {
    font-weight: bold;
    font-size: 16px;
    color: $blue;
    display: flex;
    align-items: center;
    gap: 8px;
}

header .menu {
    // margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 13px;
    color: #666;
    cursor: pointer;
}
