@use "./variables";
@use "./header";
@use "./sidebar";
@use "./utils";
@use "./theme";

@use "./font.scss";

html {
    font-size: 62.5%; /* 16px × 62.5% = 10px */
}

body {
    font-family: NanumSquare;
    font-size: 1.6rem;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.modal-container {
    display: flex; /* Flexbox 컨테이너로 설정 */
    justify-content: center; /* 가로축 (수평) 중앙 정렬 */
    align-items: center; /* 세로축 (수직) 중앙 정렬 */
    background-color: rgba(0, 0, 0, 0.65);
    margin: auto;
    > .vfm__overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    > .vfm__content {
        position: fixed;
        width: inherit;
        height: inherit;
    }
}

.modal-container.non-overlay {
    background-color: transparent;
}
.non-overlay {
    pointer-events: none;
    * {
        pointer-events: auto;
    }
}

.dark * {
    color: #fff;
}
.light * {
    color: #3b5794;
}
// .main-modal {
//     width: 700px;
//     height: 480px;
// }

// .meeting-modal {
//     width: 440px;
//     height: 650px;
// }

// .device-modal {
//     width: 430px;
//     height: 514px;
// }

// .message-modal, .alert-modal {
//     width: 350px;
//     height: 270px;
// }

// .file-modal {
//     width: 406px;
//     height: 346px;
// }

// .notice-modal {
//     width: 420px;
//     height: 420px;
// }

// .chat-modal {
//     width: 350px;
//     height: 420px;
// }

// .host-modal {
//     width: 410px;
//     height: 310px;
// }
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 1 0;
    max-width: 100%;
    box-sizing: border-box;
}

.col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
}
.col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}
.col-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}

.content-center {
    align-content: center;
}

.vdr-stick {
    font-size: 1px !important;
    background: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.vdr.active:before {
    outline: none !important;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #4D4D4D;
}

::-webkit-scrollbar-track {
    background: #2C2C2C;
}